<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div  class="m-4 text-red-700">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="m-4">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="m-4">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div class="m-4">
    <%= form.label :created_by_id, style: "display: block" %>
    <%= form.number_field :created_by_id %>
  </div>

  <div>
    <%= form.submit class: 'button button--brand m-4' %>
  </div>
<% end %>
