<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post), class: 'button m-4' %> |
  <%= link_to "Back to posts", posts_path, class: 'button m-4' %>

  <%= button_to "Destroy this post", @post, method: :delete, class: 'button button--danger m-4' %>
</div>
