<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'hotwire-livereload', defer: true if Rails.env.development? %>
  </head>

  <body class="bg-gray-50 flex flex-col justify-between min-h-screen">
    <main class="flex-grow">
      <div class="page-container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
